@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



.Main-con {
    margin: 20px;
    text-align: center;
}

.Main-con img{
    width: 80%;
}

.Main-text {
    margin: 20px;
    margin-top: 40px;
}

.Main-text p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Poppins';
}